.get-started-button {
    background-color: #2bd1d1;
    border-radius: 50px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 20px;;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    width: 60%;
    margin: 0 auto;
    display: block;
    border: none;
    margin-bottom: 50px;

    @media (min-width: 768px) {
    width: 150px;
    padding: 10px;

    }

    &:hover {
        background-color: #2ac1c1;
    }
}